[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
numpy = "*"
gensim = "*"
pandas = "*"
spacy = "*"
keras = "*"

[requires]
python_version = "3.7"
