[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
numpy = "*"
gensim = "*"
pandas = "*"
spacy = "*"
nltk = "*"
sklearn = "*"
jupyter = "*"
tensorflow = "==2.0"
keras = "==2.3.1"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
